html{
    font-family: sans-serif;
    min-width: 400px;
    min-height: 40vh;
    border-radius: 10px;
}

body{
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    background: #222;
    text-align: center;
    padding-bottom: 40px;
}

header {
    font-size: 28px;
    padding: 12px;
    text-align: center;
    padding-bottom: 24px;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(100,100,100,.1);
    color: #feffef;
}

.downloading-buttons-wrapper {
    width: calc(100% - 10px);
    padding: 10px 5px;
    display: flex;
    gap: 4px;
    flex-direction: row;
    justify-content: space-evenly;
}

button {
    background: red;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: filter 0.4s;
}

button:hover {
    filter: brightness(70%);
}