html{
    font-family: sans-serif;
    min-width: 300px;
}

body{
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    background: #333;
    text-align: center;
}

button {
    background: red;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
}